*.bak
/**/node_modules/
!/javascriptsource/**/node_modules/
/*.launch
.idea
.vscode
filee
/.project
/.classpath
/.settings/
/.mendix-cache/
/GPUCache/
/deployment/
/javasource/*/proxies/
/javasource/system/
/modeler-merge-marker
/nativemobile/builds/
/packages/
/project-settings.user.json
/releases/
*.mpr.lock
*.mpr.bak
/**/node_modules/
!/javascriptsource/**/node_modules/
